{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
    <hr>    
        <a href="{% url 'social:begin' 'facebook' %}">Signin With Facebook</a> <hr>
        <a href="{% url 'social:begin' 'github' %}">Signin With Github</a> <hr>
        <a href="{% url 'social:begin' 'linkedin-oauth2' %}">Signin With Linkedin</a> <hr>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Signin With Google</a> <hr>
  </form>
{% endblock %}